body {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.google-font {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Local';
    src: url('font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.local-font {
    font-family: 'Local'
}

@media print {
    .page-break-after {
        page-break-after: always;
    }
}