name: Gotenberg continuous delivery
on: 
  push:
    branches:
      - releases/*

jobs:
  publish:
    name: Publish to Docker Hub
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - run: make publish VERSION=$GITHUB_REF DOCKER_USER=${{ secrets.DOCKER_USER }} DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }}